@charset "utf-8";

body {
  background: linear-gradient(hsla(230,50%,20%,.5), hsla(230,20%,10%,.2) 600px);
  min-height: 750px;
}

div.content_container {
background-color:white;
margin: 20px 30px 20px 240px;
padding: 10px;
padding: 50px;
border-radius: 15px;
min-height: 550px
}

h1 {
  text-align: center;
  font-size: 3em;
  margin-top: 0px;
}

code.hljs {
  border-radius: 8px;
  background-color: #ddd;
  padding: 12px;
}

div.side_bar {
  position: absolute;
}

div.side_bar ul {
  list-style-type: none;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 12px;
}

div.side_bar ul li {
  display: block;
  border: solid 1px #000;
  height: 50px;
  width: 210px;
  line-height: 50px;
  text-align: center;
  margin-top: 12px;
  background-color: hsla(80, 0%, 65%, 1);
  border-radius: 5px;
  box-shadow: inset 5px 5px 2px hsla(80, 0%, 90%, 0.4),
    inset -5px -5px 2px hsla(80, 0%, 45%, .6),
  2px 3px 2px rgba(0, 0, 0, 0.4);
  font-size: 1.3em;
}

div.side_bar ul li :hover, div.side_bar ul li :focus {
  background-color: hsla(80, 0%, 30%, 1);
  border-radius: 5px;
  box-shadow: inset 5px 5px 2px hsla(80,0%,20%,0.4),
    inset -5px -5px 2px hsla(80,0%,40%,0.6);
}

div.side_bar a {
  display: block;
  text-decoration: none;
  color: #000000;
}

#footer {
  background-color: hsla(230,50%,20%,1);
  padding: 10px;
  margin-bottom: 0px;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  color: #999;
  font-size: 85%;
  line-height: 1.428571429;
}

#footer img {
  float:left;
  margin-right: 10px;
}

