
<div id="footer">
<p>
<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png"></a>
Physics Programming Labs with Processing (2015) by Chris Orban is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License.

These tutorials and codes are currently provided free of charge. If you find them useful please consider <a href = "https://www.giveto.osu.edu/makeagift/OnlineGivingDonation.aspx?fund=311907&gs=include">donating</a> any amount to the Summer Institute for High School Students at the Ohio Supercomputer Center.
</p>

</div>